name: Build Android APK with Java 17

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      # CORREÇÃO: Adicionamos ndk-bundle e cmake aqui
      - name: Set up Android SDK with NDK and CMake
        uses: android-actions/setup-android@v3
        with:
          packages: "ndk-bundle cmake;3.18.1"

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew :test:assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: nes-emulator-debug-apk
          path: test/build/outputs/apk/debug/test-debug.apk
